<?php
return [
    "Auth" => [
        "secret" => %AUTH_SECRET%,
        "remember_time_in_days" => %REMEMBER_TIME_IN_DAYS%,
    ],
    "Website" => [
        "name" => %WEBSITE_NAME%,
        "logo" => %WEBSITE_LOGO%,
        "phone" => %WEBSITE_PHONE%,
        "email" => %WEBSITE_EMAIL%,
        "description" => %WEBSITE_DESCRIPTION%,
        "hold_time" => %TICKET_HOLD_TIME%,
    ],
];