.border_radius-16 {
    border-radius: 16px;
}

.analytics-movies {
    width: 100%;
    height: 100%;
}

.icon {
    min-width: 18px;
}

.btn-icon {
    background-color: transparent;
    border-color: transparent;
}

.btn-icon:hover {
    cursor: pointer;
}

/* css của thống kê theo bảng */
.table_container {}

.table_container::-webkit-scrollbar {
    display: none;
}

.table-header {
    position: sticky;
    top: 0;
    z-index: 1;
}